/* Bages */
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, .15);
  cursor: pointer;
}


/* visual */
.visual {
  margin-top: 120px;
  background-image: url('../images/visual_bg.jpg');
  background-position: center;
}

.visual .inner {
  height: 646px;
}

.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0px;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual .fade-in {
  opacity: 0;
}

/* notice */
.notice .notice-line {
  position: relative;

}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  height: 62px;
  display: flex;
}

.notice .notice-line .inner .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner .inner__left .swiper-container {
  height: 62px;
  /* 부모요소내에서 최대한 사용할 수 있는 너비와 높이를 지정 */
  flex-grow: 1;
}

.notice .notice-line .inner .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner .inner__left .swiper-slide a {
  color: #fff;
}

.notice .notice-line .inner .inner__left .notice-line_more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner .inner__left .notice-line_more .material-icons {
  color: #fff;
  font-size: 30px;
}

.notice .notice-line .inner .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
  color: #000;
}

/* 프로모션 */
.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}

.notice .promotion.hide {
  height: 0;
}

.notice .promotion .swiper-container {
  /* calc를 사용하면 너비계산없이도 원하는 부분의 너비를 지정할 수 있다 */
  width: calc(819px*3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px; 
  /* 프로모션부분의 절반반큼 왼쪽으로 땡겨와 가운데 위치할 수 있도록 설정함 */
  left: 50%;
  margin-left: calc((819px*3 + 20px)/-2);
}

.notice .promotion .swiper-slide {
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url('../images/promotion_slide_pager.png');
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url('../images/promotion_slide_pager_on.png');
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

/* Rewards */
.rewards {
  position: relative;
}

.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}

.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}

.rewards .inner {
  background-image: url('../images/rewards.jpg');
  height: 241px;
}

.rewards .btn-group {
  position: absolute;
  bottom: 24px;
  right: 0;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}

.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
  width: 110px;
}

.rewards .btn-group .btn.gift {
  margin-top: 10px;
  flex-grow: 1;
}

/* Youtube Video */
.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
}


/* 유투브영상의 위치지정(영상이 가운데만 보여야 함 */
.youtube .youtube__area {
  width: 1920px;
  background-color: #669900;
  position: absolute;
  /* 영상을 가운데 위치 */
  left: 50%;
  margin-left: calc(1920px/-2);
  /* 영상의 가운데만 보여야하기 한다 */
  top: 50%;
  margin-top: calc(1920px*9/16/-2);
}

/* 자식요소에 높이를 0으로 지정하고 padding-top을 주어 부모의 지정부분이 나오게 한다
이는 높이값을 주지 않아도 padding-top을 통해 자동 높이가 생성되며,
보통 영상을 홈페이지에 삽입할 때 사용함(일반적으로 가로:세로=16:9를 사용)  */
.youtube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.youtube .youtube__cover {
  background-image: url('../images/video_cover_pattern.png');
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;
}

.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}

.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}

.season-product .floating3 {
  position: absolute;
  bottom: 300px;
  right: 0;
}

/* Season product */
.season-product {
  background-image: url('../images/season_product_bg.jpg');
}

.season-product .inner {
  height: 400px;
}

/* 밑부분이 잘려 아래 섹션에 붙임 */
.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}

.season-product .inner .text-group {
  position: absolute;
  top: 100px;
  right: 100px;
}

.season-product .inner .text-group .title {
  margin-bottom: 10px;
}

.season-product .inner .text-group .description {
  margin-bottom: 15px;
}


/* Reserve Coffee */
.reserve-coffee {
  background-image: url('../images/reserve_bg.jpg');
}

.reserve-coffee .inner {
  height: 400px;
}

.reserve-coffee .reserve-logo {
  position: absolute;
  left: 0;
  top: 110px;
}

.reserve-coffee .text-group {
  position: absolute;
  left: 208px;
  top: 124px;
}

.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}

/* Pick Your Favorite */
.pick-your-favorite {
  background-image: url('../images/favorite_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .inner .text-group {
  margin-left: 100px;
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pick-your-favorite .inner .text-group .title {
  margin-bottom: 40px;
}

.pick-your-favorite .inner .text-group .description {
  margin-bottom: 40px;
}


/* Reserve Store */
.reserve-store {
  background-image: url('../images/reserve_store_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-store .medal {
  width: 334px;
  height: 334px;
  /* 원근법을 이용해 애니메이션효과를 줌 */
  perspective: 600px;
}

.reserve-store .medal .front,
.reserve-store .medal .back {
  width: 334px;
  height: 334px;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
}

.reserve-store .medal .front {
  /* 서로 두 카드가 겹치게 하기위해 입력 */
  /* position: absolute; */
  transform: rotateY(0);
}

.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}

.reserve-store .medal .back {
  transform: rotateY(-180deg);
}

.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}

.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  /* 가운데 위치시키기 위해서 오른/위쪽 기존을 지정해주고 margin을 auto로 설정한다
  또한, 너비의 길이가 필요한데 앞에 btn값에 너비의 값을 지정해주어서 이는 생략 */
  left: 0;
  right: 0;
  margin: auto;
}

/* Find The Store */
.find-store {
  background-image: url('../images/find_store_bg.jpg');
}

.find-store .inner {
  height: 400px;

}

.find-store .inner .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}

.find-store .inner .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.find-store .inner .picture {
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  position: absolute;
}

.find-store .inner .picture.picture1 {
  top: -60px;
  left: 0;
}

.find-store .inner .picture.picture2 {
  top: 150px;
  left: 250px;
}

.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}

.find-store .text-group .title {
  margin-bottom: 20px;
}

.find-store .text-group .description {
  margin-bottom: 20px;
}

/* Awards */
.awards {
  background-color: #272727;
}

.awards .inner {
  padding: 40px 0;
}

.awards .swiper-container {
  width: 100%;
  height: 40px;
}

.awards .swiper-prev,
.awards .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.awards .swiper-prev {
  left: -100px;
}

.awards .swiper-next {
  right: -100px;
}

.awards .swiper-prev:hover,
.awards .swiper-next:hover {
  background-color: #fff;
  color: #333;
}

/* 상단이동 스크롤 */
#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}